<div class="absolute">
    <img src="assets\pexels-cottonbro-2925328.jpg" alt="not found">
</div>
<div class="w-full md:w-3/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-80">
    <h1 class="font-bold text-3xl py-4">Netflix Sign In</h1>
    <div id="google-sign-in-button" class="mt-4 h-10 flex items-center justify-center">
        <!-- Google Sign-In button will be rendered here -->
    </div>
    <!-- Debugging message -->
    <p class="mt-4 text-sm text-gray-400">If sign-in button doesn't appear, try refreshing the page.</p>
</div>